@import "../../styles/variables";
@import "../../styles/typography";

.logout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 40vw;
    height: 200px;
    max-width: 600px;
    top: 10rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
    background-color: $pink_1;
    box-shadow: 1px 10px 15px rgba(0,0,0,.7);
    padding: 2rem;
    text-align: center;

    .btns {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .yes-btn {
            border: 1px solid $red;
            padding: .5rem;
            color: $red;
            transition: all .2s;
            &:hover {
                color: $white;
                background-color: $red;
            }
        }
        .no-btn {
            border: 1px solid $black;
            padding: .5rem;
            color: $black;
            transition: all .2s;
            &:hover {
                color: $white;
                background-color: $black;
            }
        }
    }

}

.overlay {
    position: fixed;
    background-color: rgba(0,0,0,.7);
    top: 0;
    right: 0;
    left: 0;
    content: "";
    width: 100vw;
    height: 100vh;
    z-index: 9;
}
