$white: #FFFFFF;
$light: #F4F5F7;
$black: #000000;
$primary: #B88E2F;
$pink_1: #FFF3E3;
$pink_2: #FCF8F3;
$pink_3: #FCF8F3;
$font_1: #333333;
$font_2: #666666;
$gray_1: #3A3A3A;
$gray_2: #616161;
$gray_3: #898989;
$gray_4: #9F9F9F;
$gray_5: #D8D8D8;
$green: #2EC1;
$red: #E97171;

$bp-medium: 60em;    // 800px;
